@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --efundo-primary: #1e40af;
  --efundo-primary-dark: #1e3a8a;
  --efundo-accent: #f59e0b;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
