.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Platform build artifacts (keep android/ and ios/ source from flutter create)
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
